---
---

<header class="relative h-[819px] flex items-center justify-center overflow-hidden">
  <div class="absolute inset-0 bg-black/40 z-10"></div>
  <img 
    alt="Historical industrial Sabadell" 
    class="absolute inset-0 w-full h-full object-cover" 
    src="https://lh3.googleusercontent.com/aida-public/AB6AXuBDxT0qGdwHOO3DfsIij4GM6jXSy4ULH4jLGwZc2JhYF4-vvpBJ9nxPAgZEyUqIecUiXyT2g-aagOIjrp2FUf9kkI9ofsgEHe-Gpho0zW18-UNQ7s2MLqnBNfdH3nqlH8C6FY3G_a6ERnc1MXG05UcZ2Z-ajmsr0Ii6R2-kZrg8LyWyqdDuS0QlQZtcyw11Dqk79DHXRFEAfpl2IyeUGFgXZxxk5xt4BycSIzRpF8LfkTWIBfA3PduEzzkK3EGoPr6zQIK2CCqGNDyT"
  />
  <div class="relative z-20 text-center px-4 max-w-4xl">
    <h1 class="font-display-lg text-white mb-6 tracking-tight leading-tight text-5xl sm:text-6xl md:text-7xl">
      El Cor de la <span class="text-primary-fixed font-bold">Revolució</span>
    </h1>
    <p class="font-body-lg text-body-lg text-surface-container-low max-w-2xl mx-auto leading-relaxed text-white/90">
      Benvinguts a l'Eixample de Sabadell. Un barri forjat en el vapor de les calderes, el batec dels telers i l'elegància del modernisme català.
    </p>
    <div class="mt-12 flex justify-center">
      <span class="material-symbols-outlined text-white text-4xl animate-bounce">
        keyboard_double_arrow_down
      </span>
    </div>
  </div>
</header>
